body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}
h2{  
    text-align: center;  
    color: 	black;  
    padding: 20px;  
}  

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 15px;
}

.italic{
	font-style: italic;
	font-size: 17px;
}

.summ{
	margin-left: 10px;
	margin-right: 10px;
}

.postartcl{
	margin-left:20px;
	margin-right:20px;
	text-align: center;
	font-style: italic;
	font-size: 24px;
}
/*contact form..*/
.cntform{
	margin-left:20px;
	margin-right:20px;
	text-align: center;
	font-size: 24px;
}

form{
	margin-top:40px;
	
}
.form-control{
	width: 600px;
	background: transparent;
	border: none;
	border-bottom: 1px solid gray;
	color: #black;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
.button{
	background: gray;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
.button:hover{
	background-color: green;
	cursor: pointer;
}

.socialdiv{
	display: flex;
	justify-content: center;
	align-item: center;
}

a i{
	transition: all 0.3s linear;
}
a:hover i{
	transform: scale(1.4);
}
.fa-instagram{
	color: #e84393;
}
.fa-linkedin{
	color: #0097e6;
}
.fa-twitter{
	color: #0097e6;
}
.fa-google{
	color: #e84118;
}

/*Login Page CSS*/
.login{  
    width: 350px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #35424a;  
    border-radius: 15px;        
}   

label{  
    color: #08ffd1;  
    font-size: 17px;  
}

#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
}  

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/image.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/*showcase Blogs Page*/
#showcas{
  min-height:400px;
  background:url('../img/blogp.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}

#showcas h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcas p{
  font-size:20px;
}

/*showcase Contact Us Page*/
#showcaus{
  min-height:400px;
  background:url('../img/contact.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}

#showcaus h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcaus p{
  font-size:20px;
}

}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }
}
